/* main-solutions */
.main-solutions {
  padding: $basic-padding;
  position: relative;
  &::before {
    width: 423px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    background-image: url("../img/bg/bg-4.svg");
    background-repeat: no-repeat;
    z-index: -1;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.main-solutions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

.main-solutions__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: 335px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 90%;
    border: 2px solid black;
    z-index: 10;
    top: 5%;
    left: 5%;
    transition: all 0.4s ease-in-out;
  }
}

.main-solutions__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-solutions__title {
  position: relative;
  z-index: 2;
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #000000;
  padding: 25px 45px 40px;
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}

.main-solutions__link:hover,
.main-solutions__link:active,
.main-solutions__link:focus {
  .main-solutions__title {
    background-color: transparent;
    color: #ffffff;
  }
  &::after {
    border-color: #ffffff;
  }
}
