/* main-showroom */
.main-showroom {
  padding: $basic-padding;
  position: relative;
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: flex-start;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
  .section-header {
    margin-bottom: 0;
    padding-right: 145px;
    @media (max-width: 1550px) {
      padding-right: 0;
    }
  }
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    background-image: url(../img/bg/bg-6.svg);
    background-repeat: no-repeat;
    z-index: -1;
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.main-showroom__slider {
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: 30px;

  @media (max-width: 900px) {
    grid-column: initial;
    padding-bottom: 70px;
  }
}

.main-showroom__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  display: grid;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 2;
  margin: 0 auto;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
    grid-column: initial;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
