/* main-portfolio  */
.main-portfolio {
  padding: $basic-padding;
  background-color: #faf3e3;
  color: #000000;
  @media (max-width: 1200px) {
    padding: 35px 0 45px;
  }
  .wrapper {
    z-index: 2;
    position: relative;
  }
}

.main-portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 0;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}
