/* main-consultation */
.main-consultation {
  padding: $basic-padding;
  @media (max-width: 1200px) {
    padding: 35px 0 45px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 540px 1fr;
    gap: 50px 80px;
    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
      gap: 55px 30px;
    }
    @media (max-width: 850px) {
      grid-template-columns: auto;
      gap: 20px;
    }
  }
  .title {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 2px;
    color: #000000;
    max-width: 370px;
    @media (max-width: 1100px) {
      font-size: 30px;
      letter-spacing: initial;
    }
    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
}

.main-consultation__photo {
  max-width: 540px;
  height: auto;
  height: auto;
  width: 100%;
  object-fit: cover;
  @media (max-width: 850px) {
    display: none;
  }
}

.main-consultation__form {
  grid-column: span 2;
  max-width: 1120px;
  @media (max-width: 850px) {
    grid-column: initial;
  }
  .custom-form {
    @media (max-width: 850px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
      grid-template-columns: auto;
    }
  }
}

.main-consultation__list {
  list-style-image: url("../img/icons/list-item.svg");
  margin: 0;
  padding-left: 22px;
  li {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
  }
}
