/* main-flooring */
.main-flooring {
  padding: $basic-padding;
  position: relative;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-image: url("../img/bg/bg-3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  .section-header {
    max-width: 730px;
  }
}

.main-flooring__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

.main-flooring__item:first-child,
.main-flooring__item:last-child {
  grid-column: span 2;
  @media (max-width: 1200px) {
    grid-column: initial;
  }
}

.main-flooring__link {
  color: inherit;
  text-decoration-line: none;
  position: relative;
  display: block;
  min-height: 247px;
  padding: 55px 45px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid #000000;
  @media (max-width: 750px) {
    padding-bottom: 40px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.616) 0%, rgba(0, 0, 0, 0) 91.07%);
    transform: rotate(-180deg);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: 19px solid #ffffff;
    @media (max-width: 1200px) {
      border: 10px solid #ffffff;
    }
  }
}

.main-flooring__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.main-flooring__title {
  position: relative;
  z-index: 2;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
}

.main-flooring__text {
  position: relative;
  z-index: 2;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}

.main-flooring__link:hover,
.main-flooring__link:focus,
.main-flooring__link:active {
  border-color: transparent;
  .main-flooring__text {
    display: block;
  }
  &::before {
    display: none;
  }
}
