/* main-portfolio  */
.main-portfolio {
  padding: $basic-padding;
  background-color: #FAF3E3;
  color: #000000;
  .wrapper {
    z-index: 2;
    position: relative;
  }

  /* блок с работами  */

}
