/* main-advantages */
.main-advantages {
  background-color: #faf3e3;
  padding: 41px 0 55px;
}

.main-advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1105px;
  @media (max-width: 780px) {
    grid-template-columns: auto;
  }
  .advantages-item {
    max-width: 350px;
    @media (max-width: 780px) {
      margin: 0 auto;
    }
    @media (max-width: 360px) {
      flex-direction: column;
    }
  }
  .advantages-item__text {
    max-width: 255px;
  }
}


