/* main-first */
.main-first {
  padding: $basic-padding;
  @media (max-width: 1200px) {
    padding: 35px 0 45px;
  }
  background-color: #121210;
  color: #ffffff;
  background-image: url("../img/bg/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 1200px) {
    background-image: url("../img/bg/1-1200.jpg");
  }
  @media (max-width: 750px) {
    background-image: url("../img/bg/1-750.jpg");
  }
  @media (max-width: 420px) {
    background-image: url("../img/bg/1-420.jpg");
  }
  .section-header {
    margin-bottom: 0;
  }

  .title {
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 28px;
    max-width: 910px;
    color: #ffffff;
    line-height: 103%;
    @media (max-width: 800px) {
      font-size: 50px;
    }
    @media (max-width: 550px) {
      font-size: 42px;
    }
    @media (max-width: 450px) {
      font-size: 25 px;
    }
    span {
      color: #a7e159;
    }
  }
  .main-first__list {
    list-style-image: url("../img/icons/list-item.svg");
    margin: 0;
    padding: 0;
    padding-left: 22px;
    display: flex;
    flex-wrap: wrap;
    li {
      max-width: 240px;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff;
      padding-left: 10px;
      margin-right: 45px;
      @media (max-width: 1400px) {
        margin-bottom: 15px;
        padding-left: 0;
      }
      @media (max-width: 600px) {
        margin-right: 0;
        max-width: 100%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .button {
    max-width: 340px;
    display: block;
    margin-bottom: 35px;
  }
}
