.top-catalog {
  padding: 50px 0 70px;
  background-image: url(../img/bg/bg-1.svg);
  background-repeat: no-repeat;
  overflow: hidden;
  .subtitle {
    margin-bottom: 35px;
  }
  .button {
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
}

.top-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: 30% 30% 30%;
  margin-bottom: 50px;
  @media (max-width: 1200px) {
    grid-template-columns: 45% 45%;
  }
  @media (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.top-catalog__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid transparent;
  min-height: 340px;
  text-decoration: none;
  color: #ffffff;
  padding: 30px 40px 40px;
  transition: 0.2s all;
  @media (max-width: 750px) {
    min-height: auto;
    padding: 30px 20px;
  }

  &::after {
    content: "";
    border: 2px solid #000000;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 2;
    transition: 0.2s all;
    @media (max-width: 750px) {
      display: none;
    }
  }
  &::before {
    content: "";
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.616) 0%, rgba(0, 0, 0, 0) 91.07%);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: 0.2s all;
    @media (max-width: 750px) {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

.top-catalog__photo {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top-catalog__name {
  font-weight: 800;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  color: #ffffff;
  max-width: 100%;
  margin: 0;
  margin-bottom: 15px;
  text-decoration-line: none;
  @media (max-width: 750px) {
    font-size: 24px;
  }
}

.top-catalog__item-text {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.8;
  max-width: 100%;
  display: none;
  transition: 0.2s all;
  @media (max-width: 750px) {
    display: block;
  }
  ul {
    text-decoration-line: underline;
  }
}

.top-catalog__link:hover,
.top-catalog__link:active,
.top-catalog__link:focus {
  border: 2px solid #000000;
  &::after {
    display: none;
  }
  &::before {
    background: rgba(0, 0, 0, 0.6);
  }
  .top-catalog__item-text {
    display: block;
  }
}
