.custom-form {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.custom-form__area {
    font-family: inherit;
    border: 2px solid #000000;
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 2px;
    color: #000000;
}
