/* promo */
.promo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1050px;
}

.promo__title {
  max-width: 600px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
}

.promo__wrapper {
  max-width: 370px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  max-width: 340px;
  margin: 0;
  a,
  b {
    color: inherit;
    text-decoration-line: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }
}

.promo__icon {
  width: 45px;
  display: block;
  margin-right: 10px;
}
