/* title */
.title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #000000;
  display: inline-block;
  @media (max-width: 1510px) {
    font-size: 60px;
  }
  @media (max-width: 1200px) {
    font-size: 40px;
    letter-spacing: initial;
  }
  @media (max-width: 600px) {
    font-size: 35px;
  }
  @media (max-width: 450px) {
    font-size: 20px;
  }
}
